%font {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
}

%menu {
  font-size: 14px;
  letter-spacing: 0.14px;
  @extend %font;
  line-height: 28.01px;
  margin-top: 0;
  text-align: right;

  a {
    color: #ffffff;
  }

  li {
    display: inline-block;
    padding-right: 25px;
  }
}

html,
body {
  font: 400 16px Lato;
  font-family: "Lato", sans-serif;
  color: #000;
  line-height: 28.01px;
  min-width: 1120px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.text,
.text-dark {
  opacity: 70%;
}

.text {
  color: #ffffff;
  &#p-header {
    margin: 0 auto;
    margin-top: 7px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    width: 500px;
    opacity: 1;

    span {
      margin-left: 5px;
    }
  }
}

.text-small {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}

.container {
  margin: 0 auto;
  width: 1110px;
  text-align: center;
}

h1 {
  font: 700 50px Montserrat;
  color: #fff;
  margin: 0 auto;
  padding-top: 185px;
  padding-bottom: 19px;
  letter-spacing: 0.025em;
  width: 700px;
}

h2 {
  color: #333333;
  font-family: Montserrat;
  font-size: 40px;
  letter-spacing: 0.4px;

  &#our-works {
    width: 100%;
    margin: {
      top: 92px;
      bottom: 70px;
    }
  }

  .aside & {
    margin-left: -2px;
  }

  &#clients {
    margin: {
      bottom: 94px;
      top: 0;
    }
    padding: {
      top: 107px;
    }
    font-size: 50px;
  }
}

div#ubout-us-img {
  width: 540px;
  height: 470px;
  margin: 0px 30px 0px 0px;
  background-image: url("https://tarasdrobotko.github.io/sky.maket/images/about-us.png");
}

div#about-us {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
}

div#our-works-block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
  line-height: normal;
}

div.aside {
  width: 540px;
  align-self: center;
  p {
    width: 455px;
    letter-spacing: 0.006em;
  }
}

nav #menu {
  @extend %menu;

  li:nth-last-child(2) {
    padding-right: 39px;
  }

  li:last-child {
    padding-right: 0;
  }
}
div#w-process-img {
  display: flex;
  justify-content: space-between;
}

.w-proccess {
  margin-top: 81px;
  margin-bottom: 119px;

  &:last-child {
    margin-right: -5px;
    margin-left: 6px;
  }
}

div#work-proccess {
  padding-top: 50px;
  h2 {
    margin-bottom: 40px;
  }
  p.text-dark {
    letter-spacing: 0.005em;
    margin-left: 2px;
  }
}
h3.reviews-header {
  @extend %font;
  font-size: 18px;
  letter-spacing: 0.18px;
}

a {
  text-decoration: none;
}

.sky {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #1a0c47;
}

ul#menu {
  list-style: none;
}

nav #menu a:hover {
  color: #d7d7d7;
}

#menu-footer a:hover {
  color: #5c5c5c;
}

#logo {
  color: #ffffff;
  float: left;
  letter-spacing: 0.03em;
}

div.block2 {
  height: 650px;
  background-color: #f6f6f6;
}

div#header {
  height: 850px;
  text-align: center;
  background-image: url("https://tarasdrobotko.github.io/sky.maket/images/header-bg.png");

  nav {
    padding-top: 39px;
  }
}

div#contacts {
  background-image: url("https://tarasdrobotko.github.io/sky.maket/images/contacts-bg.png");
  height: 860px;
}

footer-info {
  height: 119px;
  color: #f6f6f6;
}

.request-call {
  display: block;
  text-align: center;
  width: 202px;
  height: 36px;
  padding-top: 10px;
  background-color: #1a0c47;
  color: #ffffff;
  border-style: none;
  margin-top: 38px;
  font-size: 1em;
  @extend %font;
  letter-spacing: 0.02em;
}

.request-call:hover,
#contacts_message input.request-call:hover {
  background-color: #2b1c5d;
}

div#header .request-call {
  margin: 0 auto;
  margin-top: 55px;
  padding: 10px 0 3px 0;
}

.works {
  &:nth-child(4) {
    margin: 30px 30px 0px 0px;
  }

  &:nth-child(3) {
    margin-left: 30px;
  }
  &:last-child {
    margin-top: 30px;
  }
}

div#reviews {
  background-image: url("https://tarasdrobotko.github.io/sky.maket/images/review-bg.png");
  height: 700px;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  h3 {
    letter-spacing: 0;
    font-family: Montserrat;
  }

  input[type="radio"] {
    display: none;
  }
}

div.rev-col-1 {
  width: 555px;
  text-align: left;
  margin-bottom: 35px;

  p.rev-text {
    width: 435px;
    margin-top: 25px;
    margin-bottom: 35px;
    letter-spacing: 0.006em;
    opacity: 90%;
  }

  h3 {
    color: #fff;
    margin-top: 23px;
    margin-bottom: -12px;
    font-size: 18px;
  }
}

div#r-col-2 {
  margin-left: -15px;

  img,
  p,
  h3 {
    margin-left: 15px;
  }
}

#reviews h2,
#contacts h2 {
  color: #fff;
  text-align: left;
  margin-left: 0px;
}

#reviews h2 {
  padding-top: 93px;
  margin-top: 0;
  margin-bottom: 88px;
  margin-left: -3px;
  width: 100%;
}

#contacts h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 35.12px;
  padding-top: 79px;
  padding-bottom: 59px;
  margin-top: 0px;
  margin-bottom: 35px;
  letter-spacing: 0;
}

#contacts_layer {
  position: relative;
  top: -35px;
  width: 540px;
  height: 600px;
  background-color: #ffffff;
  opacity: 0.04;
  margin-bottom: -600px;
}

.contacts_layer {
  position: relative;
  height: 180px;
  width: 540px;
  top: -35px;
  left: 570px;
  background-color: #ffffff;
  opacity: 0.04;
  margin-bottom: 30px;
}

#contacts_message {
  position: relative;
  top: 0;
  z-index: 2;
  height: 600px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: -600px;

  h3 {
    font-family: Montserrat;
    color: #fff;
    font-size: 24px;
    opacity: 1;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
  }

  textarea,
  input {
    opacity: 1;
    padding: 20px;
    background-color: transparent;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: #ffffff;
    opacity: 0.8;
  }
  :-ms-input-placeholder {
    /* Internet Explorer */
    color: #ffffff;
    opacity: 0.8;
  }
  ::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }

  textarea {
    line-height: 0.5em;
    resize: none;
    margin-bottom: 40px;
    height: 99px;
    width: 438px;
  }

  input {
    display: block;
    width: 438px;
    margin-bottom: 30px;
    height: 8px;
    &.request-call {
      margin: -5px 0 10px 0;
      width: 202px;
      height: 46px;
      border: none;
      @extend %font;
      background-color: #1a0c47;
      opacity: 1;
      padding-top: 13px;
      padding-bottom: 17px;
      letter-spacing: 0.14px;
      font-size: 16px;
    }
  }
}

div#contacts_details {
  position: relative;
  top: -35px;
  width: 540px;
  height: 600px;
  left: 570px;
  text-align: left;
  margin-bottom: -600px;
  h3 {
    margin-top: -3px;
    color: #fff;
    font-size: 24px;
    opacity: 1;
    margin-bottom: 21px;
    font-family: Montserrat;
    letter-spacing: 0.5px;
  }

  p {
    opacity: 0.8;
    color: #ffffff;
    font-weight: 700;
    line-height: 30.01px;
    letter-spacing: 0.18px;
  }
}
div.contact_details_block {
  padding: 40px 30px 30px 30px;
  height: 110px;
  margin-bottom: 30px;
}

div.clients-img {
  display: flex;
  justify-content: space-between;
}

div.container .clients-img:last-child {
  margin-top: 62px;
}

#sky-realstate-footer {
  height: 70px;
  background-color: #f6f6f6;
  padding-top: 47px;
  div.container {
    display: flex;
    .footer-inline:last-child {
      margin-left: 100px;
      margin-right: -30px;
    }
  }
}

#footer-logo {
  color: #1a0c47;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 170px;
}

#menu-footer {
  @extend %menu;
  a {
    color: #333333;
  }
  li:last-child {
    padding-right: 0px;
    padding-left: 4px;
  }
}

.social-bar-wrap {
  margin-top: 3px;
  a {
    padding-right: 6px;
  }

  a:last-child {
    padding-right: 0;
  }
}

/* svg icons */
.svg-icon {
  width: 1.2em;
  height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #9c95b0;
}
.social-dark path {
  fill: #9b9b9b;
}

.svg-icon path:hover,
.social-dark path:hover {
  fill: #595368;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

div#copyright {
  height: 31px;
  color: #171717;
  letter-spacing: 0.14px;
  text-align: left;
  line-height: 2.4em;
}

/* media */

@media only screen and (max-width: 1190px) {
  #sky-realstate-footer div.container .footer-inline:last-child {
    margin-right: 0px;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1140px) {
  html,
  body {
    min-width: 930px;
  }

  .container {
    width: 920px;
  }

  h1 {
    padding-top: 160px;
    padding-bottom: 33px;
    padding-left: 2px;
    line-height: 1em;
    letter-spacing: 0.025em;
    width: 720px;
  }

  h2 {
    font-size: 30px;
    margin-left: 2px;
  }

  #header .request-call {
    margin-top: 55px;
    letter-spacing: 0.02em;
    font: 700 1em Montserrat;
  }

  .text#p-header {
    width: 480px;
    margin: 0 auto;
    margin-top: 5px;
    padding-left: 2px;

    & span {
      margin-left: 7px;
    }
  }

  div#ubout-us-img {
    width: 445px;
    height: 390px;
    margin: 0 30px 0 0;
    background-image: url("https://tarasdrobotko.github.io/sky.maket/images/tablet/about-us.png");
  }
  div#our-works-block {
    padding-bottom: 0;
    img {
      width: 445px;
      height: 390px;
      margin: 30px 30px 30px 0px;
      &:nth-child(4) {
        margin: 0 30px 80px 0px;
      }

      &:nth-child(3) {
        margin: 30px 0px 30px 0px;
      }
      &:last-child {
        margin: 0px 0px 80px 0px;
      }
    }
  }

  div.aside {
    width: 445px;
    line-height: 1.3em;
    p {
      margin-bottom: 8px;
      font-size: 13px;
      width: 377px;
      letter-spacing: 0.04em;
    }
    .request-call,
    h2 {
      margin-left: 2px;
    }
  }

  div#header {
    height: 767px;
    background-image: url("https://tarasdrobotko.github.io/sky.maket/images/tablet/header-bg.png");
  }

  #work-proccess img {
    width: 208px;
    height: 208px;
  }

  .w-proccess {
    margin: 28px 25px 119px 0px;
    &:nth-child(3) {
      margin-left: -2px;
      margin-right: 27px;
    }
    &:nth-last-child(2) {
      margin-right: 23px;
    }
    &:last-child {
      margin-left: 3px;
    }
  }

  div.block2 {
    height: 458px;
  }

  div#work-proccess {
    font-size: 13px;
    padding-top: 36px;

    h2,
    p.text-dark {
      margin-left: 3px;
    }

    h2 {
      margin-bottom: 24px;
    }
    p.text-dark {
      letter-spacing: 0.04em;
      margin-left: 3px;
    }
  }

  h2#our-works {
    margin-top: 67px;
    margin-bottom: 30px;
    letter-spacing: 0.25px;
    margin-left: 2px;
  }

  div#reviews {
    background-image: url("https://tarasdrobotko.github.io/sky.maket/images/tablet/review-bg.png");
    height: 620px;
    h2 {
      display: none;
    }
    p.rev-text {
      font-size: 14px;
      letter-spacing: 0.01em;
      width: 400px;
      margin-bottom: 65px;
    }

    .text-small {
      letter-spacing: 0.2px;
      margin-left: 1px;
    }

    input[type="radio"] {
      display: none;
    }
  }

  div.rev-col-1 {
    margin-top: 90px;
    width: 460px;
    p.rev-text,
    img,
    h3 {
      margin-left: 1px;
    }
    h3 {
      font-weight: 700;
    }
  }

  div#reviews h3 {
    font-size: 1.11em;
    margin-top: 24px;
    padding-bottom: 3px;
    letter-spacing: 0.02em;
  }

  div#r-col-2 {
    p.rev-text,
    img,
    .text-small,
    h3 {
      margin-left: 16px;
    }
  }

  div#clients-block {
    height: 475px;
  }
  div.container .clients-img {
    &:last-child {
      margin-top: 47px;
    }
    & img {
      height: 94px;
      width: 208px;
    }
  }

  h2#clients {
    margin: {
      bottom: 54px;
      top: 0;
    }
    padding: {
      top: 70px;
    }
    font-size: 30px;
    letter-spacing: 0;
    margin-left: 3px;
  }

  div#contacts {
    height: 780px;
    h2 {
      padding: {
        top: 63px;
      }
      font-size: 30px;
      letter-spacing: 0;
      padding-bottom: 39px;
    }

    .request-call {
      padding-top: 11px;
    }
  }

  #contacts_layer {
    top: -33px;
    width: calc(50% - 13px);
    height: 572px;
    background-color: #ffffff;
    opacity: 0.04;
    margin-bottom: -572px;
    margin-left: 1px;
  }

  div#contacts_details {
    width: 445px;
    height: 572px;
    left: 475px;
    text-align: left;
    margin-bottom: -572px;
    h3 {
      margin-bottom: 22px;
      margin-left: 2px;
    }
  }

  #contacts_message,
  div#contacts_details {
    h3 {
      font-size: 20px;
      opacity: 1;
      letter-spacing: 0.6px;
    }
    p {
      letter-spacing: 0.045em;
      font-size: 13px;
      margin-left: 2px;
    }
  }
  #contacts_message {
    width: calc(50% - 73px);
    margin-left: 2px;
    padding-right: 30px;
    h3 {
      margin-bottom: 30px;
    }
    input {
      width: calc(100% - 43px);
      margin-bottom: 30px;
      height: 6px;
    }
    textarea {
      margin-bottom: 40px;
      height: 70px;
      width: calc(100% - 43px);
    }

    input,
    textarea {
      padding: 22px 20px 20px 18px;
      opacity: 1;
    }
  }

  .contacts_layer {
    height: 170px;
    top: -33px;
    width: calc(50% - 17px);
    left: calc(50% + 17px);
    background-color: #ffffff;
    opacity: 0.04;
    margin-bottom: 30px;
  }

  div.contact_details_block {
    padding: 33px 30px 34px 30px;
    height: 103px;
    margin-bottom: 30px;
  }

  #sky-realstate-footer {
    padding-top: 45px;
  }

  nav #menu,
  #menu-footer {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 28.01px;
    text-align: right;
    padding-left: 0px;
    margin-left: 30px;
  }

  nav #menu.active {
    width: 160px;
    text-align: center;
    float: right;
    margin-top: -5px;
    & li:last-child {
      margin-right: 0;
    }
    li.visibility {
      padding-right: 0;
      display: block;
      width: 100%;
      background-color: #314286a9;

      &:first-child {
        padding-top: 15px;
      }
      &:nth-last-child(2) {
        padding-bottom: 15px;
      }
    }
  }

  #sky-realstate-footer {
    height: 72px;
  }
  #menu-footer {
    margin-right: 30px;
  }

  .footer-inline:last-child {
    margin-right: 0px;
  }

  .social-bar-wrap a {
    padding-right: 5px;
  }

  div#copyright {
    line-height: 2.3em;
  }

  .menu__icon {
    width: 40px;
    height: 40px;
    top: -10px;
    position: relative;
    left: 878px;
    cursor: pointer;
    border: 2px solid #5b5876;
  }

  .menu__icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 45%;
    left: 25%;
    background: #fff;
    opacity: 1;
  }

  .menu__icon span:nth-child(1) {
    top: 13px;
  }

  .menu__icon span:nth-child(2),
  .menu__icon span:nth-child(3) {
    top: 19px;
  }

  .menu__icon span:nth-child(4) {
    top: 25px;
  }

  ul#menu li.visibility {
    display: none;
  }

  nav #menu {
    margin-top: -47px;

    li:last-child {
      margin-right: 89px;
    }
  }

  #footer-logo {
    margin-right: 17px;
  }

  #sky-realstate-footer div.container .footer-inline:last-child {
    margin-left: 20px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 950px) {
  html,
  body {
    min-width: 100%;
  }

  .container {
    width: 96%;
  }

  div#ubout-us-img,
  div.aside {
    width: 47%;
  }

  div.aside p,
  div#reviews p.rev-text {
    width: 90%;
  }

  div.menu__icon {
    left: 95%;
  }
  #work-proccess img {
    width: calc(25% - 20px);
    height: calc(25% - 20px);
  }
  div#our-works-block img {
    width: calc(50% - 15px);
    height: calc(50% - 15px);
  }

  #our-works-block,
  #sky-realstate-footer {
    height: 100%;
  }

  div.rev-col-1 {
    width: 50%;
  }

  div.container .clients-img img {
    width: calc(25% - 25px);
  }

  div#contacts_details { 
    width: calc(50% - 17px);
    left: calc(50% + 17px);
  }

  div.contact_details_block {
    padding: 33px 10px 34px 30px;
    p {
      width: 100%;
    }
  }

  div#contacts_details h3 {
    margin-bottom: 5px;
  }
  #sky-realstate-footer .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-inline:last-child {
    margin-bottom: 15px;
  }

  #menu-footer {
    margin-right: 0px;
    margin-left: auto;
    li {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  %request-call-mob {
    letter-spacing: 0.02em;
    font: 700 1.2em Montserrat;
    padding-bottom: 0;
  }

  html,
  body {
    font: 400 13px Lato;
    font-family: "Lato", sans-serif;
    color: #000;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

  h1 {
    font: 700 30px Montserrat;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 19px;
    letter-spacing: 0.02em;
    line-height: 1.2em;
  }
  h1,
  .text#p-header {
    width: 290px;
  }

  .text#p-header {
    line-height: 1.6em;
    letter-spacing: 0.05em;
    opacity: 1;
    margin-top: 10px;
    font-weight: 700;
    width: 285px;
    padding-left: 0;
    span {
      margin-left: 0;
    }
  }

  .container {
    margin: 0 auto;
    width: 290px;
    text-align: center;
  }

  div#header {
    height: 640px;
    background-size: cover;
    background-image: url("https://tarasdrobotko.github.io/sky.maket/images/mobile/header-bg.png");
  }

  h2 {
    color: #333333;
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 0.4px;
    &#our-works {
      margin-top: 53px;
    }
    &#clients {
      font-size: 24px;
      margin-left: -5px;
      padding-top: 68px;
      margin-bottom: 34px;
    }
  }

  .menu__icon {
    left: 245px;
    top: 14px;
  }

  .sky {
    font-size: 14px;
    &#logo {
      margin: 0 auto;
      float: none;
      letter-spacing: 0.12em;
    }
  }

  div#header nav {
    padding-top: 14px;
  }
  nav #menu.active {
    margin-top: -30px;
    margin-right: 15px;
    & li:last-child {
      margin: 0;
    }
  }

  nav #menu li:last-child {
    margin: 23px 89px 0 -29px;
    float: left;
  }

  div#header .request-call {
    @extend %request-call-mob;
    margin-top: 46px;
  }

  .menu__icon {
    border: 2px solid #9693b5;
    span {
      width: 18px;
      left: 27%;
    }
  }

  div#about-us {
    padding-bottom: 50px;
    padding-top: 36px;
  }
  div#ubout-us-img {
    display: none;
  }

  div.aside {
    width: 320px;
    text-align: center;

    p {
      width: 100%;
      margin-top: 27px;
      line-height: 1.6em;
    }
    .request-call {
      position: relative;
      @extend %request-call-mob;
      margin: 36px auto 0 auto;
    }
  }

  div#work-proccess {
    #w-process-img {
      flex-wrap: wrap;
    }
    img {
      width: 135px;
      height: 135px;
      &:first-child,
      &:nth-child(2) {
        margin-top: 14px;
      }
    }
    h2 {
      margin: 0 auto;
      width: 190px;
      margin-top: 22px;
      line-height: 1.1em;
    }
  }

  .w-proccess {
    margin: 20px 0px 0 -2px;

    &:nth-last-child(2) {
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  div.block2 {
    height: 555px;
    p {
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 1.6em;
    }
  }

  div#our-works-block {
    flex-direction: column;
    height: 1496px;
    h2#our-works {
      margin-bottom: 45px;
      width: 100%;
    }
    & img:nth-child(3),
    & img:nth-child(4),
    & img:last-child,
    img {
      width: 320px;
      height: 300px;
      margin: 0 0 15px -15px;
    }
  }

  div#reviews {
    height: 620px;
    margin-top: -53px;
    background-size: cover;
    background-image: url("https://tarasdrobotko.github.io/sky.maket/images/mobile/review-bg.png");
  }

  div#reviews {
    margin-left: 0;
    h3 {
      font-size: 18px;
      font-weight: 900;
      font-family: inherit;
      letter-spacing: 0.08em;
      margin-top: 33px;
      padding-bottom: 0;
    }
    .text-small {
      line-height: 2.2em;
      margin-left: 0;
    }
    div.rev-col-1 {
      margin-top: 65px;
      width: 290px;
      p.rev-text {
        margin-top: 28px;
        margin-left: 0;
        letter-spacing: 0.01em;
        line-height: 1.85em;
        width: 290px;
        margin-bottom: 55px;
      }
    }
  }

  div#r-col-2 {
    p.rev-text,
    img,
    .text-small,
    h3 {
      margin-left: 0;
    }
  }

  #r-col-2 {
    display: none;
  }

  /* radio inputs */
  .radio input {
    display: none;
  }

  .radio span {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    top: -7px;
    left: 130px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.1;
    &:last-child {
      margin-left: 7px;
    }
  }

  .radio input:checked + span {
    background: #fff;
    opacity: 1;
  }

  div#clients-block {
    height: 480px;
  }

  div.container .clients-img {
    flex-wrap: wrap;
    img {
      height: 60px;
      width: 135px;
      margin-right: 15px;
      margin-bottom: 18px;
    }

    &:last-child {
      margin-top: 0;
    }
    & img:nth-child(even) {
      margin-right: 0;
    }
  }

  div#contacts {
    margin-left: 0;
    height: 1195px;
    h2 {
      padding-top: 43px;
      padding-bottom: 10px;
      font-size: 24px;
    }
  }

  #contacts_layer {
    width: 290px;
    height: 487px;
    margin-bottom: -487px;
    margin-left: 1px;
    top: -43px;
  }

  div#contacts_details {
    width: 290px;
    height: 487px;
    left: 0px;
    text-align: left;
    margin-bottom: -487px;
    top: 482px;

    h3 {
      margin-bottom: 15px;
      margin-left: -2px;
    }
  }

  #contacts_message,
  div#contacts_details {
    h3 {
      font-size: 16px;
      opacity: 1;
      letter-spacing: 0.6px;
      margin-left: 0px;
    }
    input,
    textarea {
      opacity: 1;
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
    p {
      letter-spacing: 0.01em;
      margin-left: 0px;
      margin-right: 10px;
      line-height: 1.8em;
    }
  }
  #contacts_message {
    padding-left: 14px;
    h3 {
      margin-top: 53px;
      margin-bottom: 28px;
      letter-spacing: 0.5px;
    }
    input {
      width: 232px;
      margin-bottom: 20px;
      padding: 17px 13px 13px 13px;
      height: 8px;
    }
    textarea {
      margin-bottom: 42px;
      height: 48px;
      width: 230px;
      padding: 17px 15px 13px 13px;
    }
  }

  .details.contacts_layer {
    height: 160px;
    width: 290px;
    top: 485px;
    left: 0px;
    background-color: #ffffff;
    opacity: 0.04;
    margin-bottom: 20px;
  }

  div.contact_details_block {
    padding: 38px 15px 20px 15px;
    height: 102px;
    margin-bottom: 20px;
  }

  #contacts_message input.request-call {
    margin-left: 28px;
    margin-top: -5px;
    margin-bottom: 10px;
    opacity: 1;
    padding-bottom: 17px;
    letter-spacing: 0.14px;
    font-size: 16px;
  }

  div#contacts .request-call {
    padding-top: 13px;
  }

  #sky-realstate-footer {
    height: 290px;
    padding-top: 35px;
    .container {
      text-align: center;
      flex-direction: column;
    }
  }

  #footer-logo {
    font-size: 16px;
    margin-bottom: 15px;
  }

  #menu-footer {
    text-align: center;
    li {
      display: block;
      padding-right: 0;
    }
  }
  .social-bar-wrap {
    margin-top: 8px;
    margin-left: -30px;
    a {
      padding-right: 11px;
    }
  }

  #menu-footer li:last-child {
    padding-left: 0;
  }

  div#copyright {
    height: 31px;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
