nav #menu, h3.reviews-header, #contacts_message input.request-call {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
}

html,
body {
  font: 400 16px Lato;
  color: #000;
  line-height: 28.01px;
  width: 1920px;
  margin: 0px;
  padding: 0px;
}

.text,
.text-dark {
  opacity: 70%;
}

.text {
  color: #ffffff;
}

.text-small {
  opacity: 0.5;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}

.container {
  margin: 0 auto;
  width: 1110px;
  text-align: center;
}

h1 {
  font: 700 50px Montseratt;
  color: #fff;
  letter-spacing: 1.25px;
  margin: 0 auto;
  padding-top: 270px;
  padding-bottom: 19px;
}

h2 {
  color: #333333;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
h2#our-works {
  margin-top: 102px;
  margin-bottom: 77px;
}
h2#clients {
  margin-bottom: 89px;
  margin-top: 0;
  padding-top: 100px;
}

img#about {
  margin: 100px 30px 100px 0px;
}

div#about-us {
  height: 670px;
  text-align: left;
}

div#our-works-block {
  line-height: normal;
}

div.aside {
  float: right;
  width: 535px;
  margin-top: 144px;
}

nav #menu {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 28.01px;
  margin-top: 0;
  text-align: right;
}
nav #menu a {
  color: #ffffff;
}
nav #menu li {
  display: inline-block;
  padding-right: 25px;
}
nav #menu li:nth-last-child(2) {
  padding-right: 42px;
}
nav #menu li:last-child {
  padding-right: 0;
}

.w-proccess {
  margin: 86px 25px 119px 0px;
}

.w-proccess:last-child {
  margin-right: 0;
}

div#work-proccess {
  padding-top: 40px;
}

h3.reviews-header {
  font-size: 18px;
  letter-spacing: 0.18px;
}

a {
  text-decoration: none;
}

.sky {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #1a0c47;
}

ul#menu {
  list-style: none;
}

#logo-footer {
  color: #1a0c47;
}

#logo {
  color: #ffffff;
  float: left;
}

div.block2 {
  height: 650px;
  background-color: #f6f6f6;
}

div#header {
  height: 850px;
  text-align: center;
  background-image: url("/images/header-bg.png");
}
div#header nav {
  padding-top: 42px;
}

div#contacts {
  background-image: url("/images/contacts-bg.png");
  height: 860px;
}

footer-info {
  height: 119px;
  color: #f6f6f6;
}

.request-call {
  width: 202px;
  height: 46px;
  background-color: #1a0c47;
  color: #ffffff;
  border-style: none;
  margin-top: 43px;
}

.works:nth-child(4) {
  margin: 25px 25px 0px 0px;
}
.works:nth-child(3) {
  margin: 0px 0px 0px 25px;
}

div#reviews {
  background-image: url("/images/review-bg.png");
  margin-top: 85px;
  height: 700px;
}

div.rev-col-1 {
  width: 555px;
  text-align: left;
  float: left;
}
div.rev-col-1 p.rev-text {
  width: 425px;
  margin-top: 28px;
  margin-bottom: 35px;
}
div.rev-col-1 h3 {
  color: #fff;
  margin-top: 34px;
  margin-bottom: -12px;
}

div#r-col-2 {
  float: right;
}

#reviews h2,
#contacts h2 {
  color: #fff;
  text-align: left;
}

#reviews h2 {
  padding-top: 90px;
  margin-bottom: 87px;
}

#contacts h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 35.12px;
  padding-top: 79px;
  padding-bottom: 59px;
  margin-top: 0px;
  margin-bottom: 35px;
}

#contacts_layer {
  position: relative;
  top: -635px;
  width: 540px;
  height: 600px;
  background-color: #ffffff;
  opacity: 0.04;
}

.contacts_layer {
  position: relative;
  height: 180px;
  width: 540px;
  top: -630px;
  background-color: #ffffff;
  opacity: 0.04;
  margin-bottom: 30px;
}

#contacts_message {
  position: relative;
  top: 0;
  z-index: 2;
  height: 600px;
  text-align: left;
  padding-left: 30px;
}
#contacts_message h3 {
  margin-top: 0px;
  padding-top: 5px;
  color: #fff;
  font-size: 24px;
  opacity: 1;
}
#contacts_message textarea,
#contacts_message input {
  padding: 20px;
  opacity: 0.6;
  background-color: transparent;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
#contacts_message textarea {
  resize: none;
  margin-bottom: 40px;
  height: 101px;
  width: 436px;
}
#contacts_message input {
  display: block;
  width: 436px;
  margin-bottom: 30px;
  height: 8px;
}
#contacts_message input.request-call {
  margin-top: -5px;
  width: 202px;
  margin-bottom: 10px;
  height: 46px;
  border: none;
  background-color: #1a0c47;
  opacity: 1;
  padding-top: 16px;
  padding-bottom: 17px;
  letter-spacing: 0.16px;
}

div#contacts_details {
  position: relative;
  top: -1235px;
  width: 540px;
  height: 600px;
  float: right;
  text-align: left;
}
div#contacts_details h3 {
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  opacity: 1;
  margin-bottom: 16px;
}
div#contacts_details p {
  opacity: 0.8;
  color: #ffffff;
  font-weight: 700;
  line-height: 30.01px;
  letter-spacing: 0.16px;
}

div.contact_details_block {
  padding: 40px 30px 30px 30px;
  height: 110px;
  margin-bottom: 30px;
}

div.clients-img img {
  margin-right: 25px;
}
div.clients-img img:last-child {
  margin-right: 0px;
}

div.container .clients-img:last-child {
  margin-top: 65px;
}

div#copyright {
  height: 31px;
  color: #171717;
  letter-spacing: 0.16px;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
